body {
    margin: 0;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 1.2em;
  }
  
  section {
    text-align: center;
  }
  
  /* textarea */

  textarea {
    display: inline-block;
    width: 85%;
    margin: 30px auto;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: inherit;
  }
  
  /* buttons */

  button {
    display: inline-block;
    margin: 20px auto;
    background-color: #f5e050;
    border: 3px solid skyblue;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
  }
  
  /* headings */
  h1 {
    text-align: center;
    background-color: #f5e050;
    border-bottom: 3px solid skyblue;
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
  }
  
  /* output */
  #output {
    display: inline-block;
    width: 85%;
    height: 20vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
  
  /* footer */
  footer {
    background-color: #f5e050;
    border-top: 3px solid skyblue;
    text-align: center;
    box-sizing: border-box;
  }
  
  #footer-div {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 30%;
  }
  
  .footer-heading {
    padding: 10px 0;
  }
  
  .output-font {
    font-size: 1.5rem;
    font-weight: 600;
  }